<tr>
    <td>{{name}}</td>
    <td>{{statIncrease}}</td>
    <td>{{weight}}</td>
    <td><button data-type="{{type}}" data-name="{{name}}" data-statIncrease="{{statIncrease}}" data-weight="{{weight}}" class="btn equip-armor"><i class="material-icons">add_circle</i></button></td>
    <td><button data-cost="{{cost}}" data-id="{{id}}" data-type="{{type}}" data-name="{{name}}" data-statIncrease="{{statIncrease}}" data-weight="{{weight}}" class="btn sell-armor"><i class="material-icons">remove_circle</i></button></td>
</tr>