<tr>
    <td>{{name}}</td>
    <td>{{statIncrease}}</td>
    <td><button data-type="{{type}}" data-name="{{name}}" data-statIncrease="{{statIncrease}}" data-weight="0" class="btn equip-weapon"><i class="material-icons">add_circle</i></button></td>
    <td><button data-id="{{id}}" data-cost="{{cost}}" data-type="{{type}}" data-name="{{name}}" data-statIncrease="{{statIncrease}}" data-weight="0" class="btn sell-weapon"><i class="material-icons">remove_circle</i></button></td>
</tr>