<main>
  <div id="user-hook" style="postion: absolute; visibility: hidden">{{user.id}}</div>
  <div id="npc-hook" style="postion: absolute; visibility: hidden">{{npc.id}}</div>
  <div class="row">
    <div class="col s12 m4 offset-m1 center-align">
      <img src="{{user.image}}" alt="user-combatant" class="responsive-img" id="user-combatant-img">
    </div>

    <div class="col s12 m4 offset-m2 center-align">
      <img src="{{npc.image}}" alt="opponent-combatant" class="responsive-img" id="opponent-combatant-img">
    </div>
  </div>
  <!--End image row-->

  <!-- Start battle results billboard row-->
  <div class="row">
    <div id="billboard-container" class="col s4 offset-s4 center-align rounded-content-box">
      <h4>Battle Results</h4>
      <p id="billboard"></p>
    </div>
  </div> 
<!-- End battle results billboard row-->

<!-- Start combatant image row-->
  <div class="row">

    <!-- Start User combatant column-->
    <div class="col s4 offset-s1 center-align rounded-content-box">
      <h2 id="user-name">{{user.name}}</h2>
      <table class="highlight responsive-table centered" id="user-table">
        <thead>
          <th>Current Stamina</th>
          <th>Stamina-Wounds</th>
          <th>Current Speed</th>
          <th>Defense Speed</th>
        </thead>
        <tbody>
          <tr>
            <td><span id="user-current-stamina">{{user.currentStamina}}</span></td>
            <td><span id="user-max-stamina">{{user.maxStamina}}</span></td>
            <td><span id="user-current-speed">{{user.currentSpeed}}</span></td>
            <td><span id="user-defense-speed">{{user.defenseSpeed}}</span></td>
          </tr>
        </tbody>
      </table>
      <br>
      <div class="row">
        <button class="btn col s4 offset-s2" id="player-stats-btn">VIEW BASE STATS</button>
        <button class="btn col s4" id="player-gear-btn">VIEW EQUIPMENT</button>
      </div>
      <div id="player-stats">
        <hr>
        <h5>BASE STATS</h5>
        <table class="highlight responsive-table centered" id="user-table">
          <thead>
            <th>Stamina</th>
            <th>Strength</th>
            <th>Speed</th>
            <th>Skill</th>
          </thead>
          <tbody>
            <tr>
              <td><span id="user-stamina-span">{{user.stamina}}</span></td>
              <td><span id="user-strength-span">{{user.strength}}</span></td>
              <td><span id="user-speed-span">{{user.speed}}</span></td>
              <td><span id="user-skill-span">{{user.skill}}</span></td>
            </tr>
          </tbody>
        </table>
        <br />
      </div> {{!--Matches player stats--}}
      <div id="player-gear">
        <hr>
        <h5>EQUIPMENT</h5>
        <table class="highlight responsive-table centered">
          <thead>
            <th>Weapon</th>
            <th>Damage</th>
            </tr>
            <tbody>
              <tr>
                <td id="user-weapon-name">{{weapon.name}}</td>
                <td id="user-weapon-damage">{{weapon.statIncrease}}</td>
                </tr>
            </tbody>
        </table>
        <br />
        <table class="highlight responsive-table centered">
          <thead>
            <th>Armor</th>
            <th>Defense</th>
            <th>Weight</th>
            <th>Shield</th>
          </thead>
          <tbody>
            <tr>
              <td id="user-armor-name">{{armor.name}}</td>
              <td id="user-armor-strength">{{armor.statIncrease}}</td>
              <td id="user-armor-weight">{{armor.weight}}</td>
              {{#if armor.shield}}
              <td id="user-shield">Yes</td>
              {{/if}}
            </tr>
          </tbody>
        </table>
        <br />
      </div>
    </div>

    <!-- End User combatant column-->

    <!-- Start npc combatant column-->

    <div class="col s4 offset-s2 center-align rounded-content-box">
      <h2 id="npc-name">{{npc.name}}</h2>
      <table class="highlight responsive-table centered" id="user-table">
        <thead>
          <th>Current Stamina</th>
          <th>Stamina-Wounds</th>
          <th>Current Speed</th>
          <th>Defense Speed</th>
        </thead>
        <tbody>
          <tr>
            <td><span id="npc-current-stamina">{{npc.currentStamina}}</span></td>
            <td><span id="npc-max-stamina">{{npc.maxStamina}}</span></td>
            <td><span id="npc-current-speed">{{npc.currentSpeed}}</span></td>
            <td><span id="npc-defense-speed">{{npc.defenseSpeed}}</span></td>
          </tr>
        </tbody>
      </table>
      <br/>
      <div class="row">
        <button class="btn col s4 offset-s2" id="npc-stats-btn">VIEW BASE STATS</button>
        <button class="btn col s4" id="npc-gear-btn">VIEW EQUIPMENT</button>
      </div>
      <div id="npc-stats">
        <hr>
        <h5>BASE STATS</h5>
        <table class="highlight responsive-table centered" id="opponent-table">
          <thead>
            <th>Stamina</th>
            <th>Strength</th>
            <th>Speed</th>
            <th>Skill</th>
          </thead>
          <tbody>
            <tr>
              <td><span id="opponent-stamina-span">{{npc.stamina}}</span></td>
              <td><span id="opponent-strength-span">{{npc.strength}}</span></td>
              <td><span id="opponent-speed-span">{{npc.speed}}</span></td>
              <td><span id="opponent-skill-span">{{npc.skill}}</span></td>
            </tr>
          </tbody>
        </table>
        <br />
      </div> {{!--matches npc-stats--}}
    
      <div id="npc-gear">
        <hr>
        <h5>EQUIPMENT</h5>
        <table class="highlight responsive-table centered">
          <thead>
            <th>Weapon</th>
            <th>Damage</th>
          </thead>
          <tbody>
            <tr>
              <td id="npc-weapon-name">{{npcWeapon.name}}</td>
              <td id="npc-weapon-damage">{{npcWeapon.damage}}</td>
            </tr>
          </tbody>
        </table>
        <br />
        <table class="highlight responsive-table centered">
          <thead>
            <th>Armor</th>
            <th>Defense</th>
            <th>Weight</th>
            <th>Shield</th>
          </thead>
          <tbody>
            <tr>
              <td id="npc-armor-name">{{npcArmor.type}}</td>
              <td id="npc-armor-strength">{{npcArmor.strength}}</td>
              <td id="npc-armor-weight">{{npcArmor.weight}}</td>
              {{#if npcArmor.shield}}
              <td id="npc-shield">Yes</td>
              {{/if}}
            </tr>
          </tbody>
        </table>
        <br />
      </div> {{!--matches npc-gear--}}
    </div> {{!--matches npc column--}}
  </div>{{!--matches combatants row--}}

  {{!-- Fixed action button, where the user will implement their strategy in between turns --}}

  <div class="fixed-action-btn" title="Tactics">
  <br /><br /><br />
    <a class="btn-floating pulse btn-large"><img src="/img/erics-images/battle-btn.png" alt=""></a>
    <ul>
      <li><a class="btn-floating red ">Bull</a></li>
      <li><a class="btn-floating orange">Crane</a></li>
      <li><a class="btn-floating yellow darken-1 ">Panda</a></li>
      <li><a class="btn-floating green ">Bee</a></li>
      <li><a class="btn-floating blue">Gadfly</a></li>
    </ul>
  </div>
</main>
{{> Modal/combat-block }}
<script src="/js/arena.js"></script>