<br/><br/>
<main>
  {{!-- marketplace title --}}
  <div class="container rounded-content-box">
    <div class="row center-align">
      <h1 class="page-title col s12">óPLO FORUM</h1>
    </div>

    {{!-- displays players currency --}}
    <div class="row center-align">
      <div class="col-s6 offset-3">
        <h3>Lira: <span id="lira-display">{{user.wallet}}</span></h3>
      </div>
    </div>
    {{!-- weapons and armour collapsables --}}
    <div class="row">
      <div class="col s6">
          <ul class="collapsible">
            {{!-- heavy weapon collapsable --}}
            <li>
              <div class="collapsible-header">Heavy Weapons</div>
                <div class="collapsible-body">
                  <table id="heavy-weapon-table">
                    <thead>
                      <th>Weapon</th>
                      <th>Damage</th>
                      <th>Price</th>
                      <th>Purchase</th>
                    </thead>
                    <tbody>
                    {{#each weapons}}
                      {{#unless dataValues.weight}}
                        <tr>
                          <td>{{dataValues.name}}</td>
                          <td>{{dataValues.damage}}</td>
                          <td>{{dataValues.cost}}</td>
                          <td><button class="btn"><i class="material-icons">add_shopping_cart</i></button></td>
                        </tr>
                      {{/unless}}
                    {{/each}}
                  </tbody>
                  </table>
              </div>
            </li>
            {{!-- light weapon collapsable --}}
            <li>
              <div class="collapsible-header">Light Weapons</div>
              <div class="collapsible-body">
                  <table id="light-weapon-table">
                    <thead>
                      <tr>
                        <th>Weapon</th>
                        <th>Damage</th>
                        <th>Price</th>
                        <th>Purchase</th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#each weapons}}
                        {{#if dataValues.weight}}
                          {{> Market/marketitem}}
                        {{/if}}
                      {{/each}}
                    </tbody>
                  </table>
              </div>
            </li>
            {{!-- armour collapsable --}}
            <li>
              <div class="collapsible-header">Armour</div>
              <div class="collapsible-body">
                <table id="armour-table">
                  <thead>
                    <tr>
                      <th>Armour</th>
                      <th>Defense</th>
                      <th>Weight</th>
                      <th>Price</th>
                      <th>Purchase</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each armor}}
                      <tr>
                        <td>{{dataValues.name}}</td>
                        <td>{{dataValues.strength}}</td>
                        <td>{{dataValues.weight}}</td>
                        <td>{{dataValues.cost}}</td>
                        <td><button class="btn"><i class="material-icons">add_shopping_cart</i></button></td>
                      </tr>
                    {{/each}}
                  </tbody>
                </table>
              </div>
            </li>
          </ul>
      </div>
      {{!-- Training collapsable --}}
      <div class="col s6">
          <ul class="collapsible">
            {{!-- speed training collapsable --}}
            <li>
              <div class="collapsible-header">Speed</div>
                <div class="collapsible-body">
                  <div class="row center-align">
                    <div class="col s6 offset-s3">
                      <form action="#">
                        <h5>Speed</h5>
                        <p class="range-field" id="speed-range-market">
                        <input type="range" id="market-speed-slide" min="{{user.speed}}" max="10" value="{{user.speed}}"/>
                      </form>
                    </div>
                  </div>
                </div>
            </li>
            {{!-- strenght training collapsable --}}
            <li>
              <div class="collapsible-header">Strength</div>
                <div class="collapsible-body">
                  <div class="row center-align">
                    <div class="col s6 offset-s3">
                      <form action="#">
                        <h5>Strength</h5>
                        <p class="range-field" id="strength-range-market">
                        <input type="range" id="market-strength-slide" min="{{user.strength}}" max="20" value="{{user.strength}}"/>
                      </form>
                    </div>
                  </div>
                </div>
            </li>
            {{!-- stamina training collapsable --}}
            <li>
              <div class="collapsible-header">Stamina</div>
              <div class="collapsible-body">
                <div class="row center-align">
                    <div class="col s6 offset-s3">
                      <form action="#">
                        <h5>Stamina</h5>
                        <p class="range-field" id="stamina-range-market">
                        <input type="range" id="market-stamina-slide" min="{{user.stamina}}" max="20" value="{{user.stamina}}"/>
                      </form>
                    </div>
                  </div>
              </div>
            </li>
          </ul>
      </div>
    </div>

  </div>
</main>
