{{!-- <span class="sr-only">(current)</span> --}}

<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="/">  Road To Rome</a>
  
  <!-- Links -->
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="/search" data-search={{search}}>SEARCH </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/post-items/new" data-post={{post}}>POST</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/accounts/view" data-account={{account}}>ACCOUNT</a>
    </li>
    {{#if isloggedin}}
      <li class="nav-item">
        <a class="nav-link" href="/logout">LOGOUT</a>
      </li>
    {{else}}
      <li class="nav-item">
        <a class="nav-link" href="#" id="sign-in-modal">SIGNIN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signup" data-signup={{signup}}>SIGNUP</a>
      </li>
    {{/if}}
  </ul>
</nav>


{{> Modal/signin-block}}