<tr>
  <td>{{dataValues.name}}</td>
  <td>{{dataValues.strength}}</td>
  <td>{{dataValues.weight}}</td>
  <td>{{dataValues.cost}}</td>
  <td><button data-name="{{dataValues.name}}" data-statIncrease="{{dataValues.strength}}" data-weight="{{dataValues.weight}}" data-cost="{{dataValues.cost}}" class="btn purchase-armor"><i class="material-icons">add_shopping_cart</i></button></td>
</tr>