<tr>
  <td>{{name}}</td>
  <td>{{armor}}</td>
  <td>{{weight}}</td>
  <td>${{cost}}</td>
  <td><button data-name="{{name}}" data-statIncrease="{{armor}}" data-weight="{{weight}}" data-cost="{{cost}}" class="btn purchase-armor"><i class="material-icons">add_shopping_cart</i></button></td>
</tr>