<tr>
  <td>{{name}}</td>
  <td>{{damage}}</td>
  <td>${{cost}}</td>
  <td><button data-type="weapon" data-name="{{name}}" data-statIncrease="{{damage}}" data-cost="{{cost}}" data-weight="{{weight}}" class="btn purchase-weapon"><i class="material-icons">add_shopping_cart</i></button></td>
</tr>