<tr>
  <td>{{dataValues.name}}</td>
  <td>{{dataValues.damage}}</td>
  <td>{{dataValues.cost}}</td>
  <td><button data-type="weapon" data-name="{{dataValues.name}}" data-statIncrease="{{dataValues.damage}}" data-cost="{{dataValues.cost}}" data-weight="0" class="btn purchase-weapon"><i class="material-icons">add_shopping_cart</i></button></td>
</tr>